@{
    ViewBag.Title = "TestActionFilter";
}
<h2>
    TestActionFilter
</h2>
<ul>
    <li>@ViewBag.OnAuthorization</li>
    <li>@ViewBag.OnActionExecuting</li>
    <li>@ViewBag.OnActionExecuted</li>
    <li>@ViewBag.OnResultExecuting</li>
    <li>@ViewBag.OnResultExecuted</li>
    <li>@ViewBag.OnException</li>
</ul>
